*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(247, 246, 246);
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

.logo-and-title {
    display: flex;
    align-items: center;
}



.hamburguesa{
    width: 30px;
}

header div h1{
    font-size: 40px;
    display: flex;
    color: rgba(30, 30, 248, 0.849);
}

header nav ul {
    list-style-type: none;
    display: flex;
    
}

header nav ul li{
    margin: 5px;
    display: flex;
}

header nav ul li a{
    display: flex;
    text-decoration: none;
    color: rgb(224, 224, 224);
    background-color: rgba(30, 30, 248, 0.849);
    padding: 10px;
    border-radius: 10px;

}

header nav ul li a:hover {
    background-color: rgb(45, 45, 201);
}

header img {
    display: flex;
    width: 100px;
    margin-right: 50px;
}

.borde{
    border-bottom: 1px solid;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 20px;

}

nav ul li a{
    display: flex;
    text-decoration: none;
    color: rgb(224, 224, 224);
    background-color: rgba(30, 30, 248, 0.849);
    padding: 10px;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: rgb(45, 45, 201);
}

body{
    background-color: rgb(236, 236, 236);
}

h2{
    display: flex;
    justify-content: center;
    font-size: 34px;
    margin: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    
}

main div div p{
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

main div p{
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.imagen-1{
    width: 400px;
    margin: 40px;
}

.imagen-2{
    width: 400px;
    margin: 40px;
}

.texto-mapa{
    display: flex;
    justify-content: center;
    align-items: center;

}

.mapa{
    margin: 40px;
}

.grid-container{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.grid-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
    background-color: rgb(247, 246, 246);
}

footer nav div a h6{
    color: blue;
    font-size: 30px;
    margin-left: 40px;
}   

@media (min-width:768px) {
    .hamburguesa {
        display: none;
    }
}

@media (max-width:767px) {
    header nav{
        display: none;
    }

    .borde{
        display: none;
    }

    .logo{
        display: none;
    }

    .titulo{
        font-size: 30px;
    }

    .imagen-1{
        width: 300px;
        margin-right: 0px;
    }

    .imagen-2{
        width: 300px;
        margin-left: 0px;
    }

    .grid-container {
        padding: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
}

@media (max-width:320px){
    .grid-container {
        padding: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .contenedor{
        flex-direction: column;
    }

    .imagen-1 {
        width: 250px;
        margin: 0px;
    }
    
    .imagen-2 {
        width: 250px;
        margin: 0px;
    }

    .mapa{
        width: 280px;
        margin-bottom: 0px;
    }

    .titulo{
        font-size: 18px;
        margin: 0px;
    }

    .titulo-footer{
        font-size: 25px;
        padding: 0px;
        margin: 10px;
    }
}