*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(247, 246, 246);
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}

.logo-and-title {
    display: flex;
    align-items: center;
}

header div h1{
    font-size: 40px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    
}

header nav ul li{
    margin: 5px;
    display: flex;
}

header nav ul li a{
    display: flex;
    text-decoration: none;
    color: rgb(224, 224, 224);
    background-color: rgba(30, 30, 248, 0.849);
    padding: 10px;
    border-radius: 10px;
    
}


header img {
    display: flex;
    width: 100px;
    margin-right: 50px;
}

header h1{
    display: flex;
    color: rgba(30, 30, 248, 0.849);
   
}

.ayuda{
    text-align: center;
}

body{
    background-color: rgba(253, 224, 58, 0.342);
}

nav{
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

.contenedor{
    display: flex;
    justify-content: start;
    align-items: center;
}

.imagen{
    width: 250px;
    margin-left: 40px;
    margin-right: 40px;
}

.texto-mapa{
    display: flex;
    justify-content: center;
    align-items: center;

}

.mapa{
    margin-right: 40px;
    margin-bottom: 20px;
}

footer{
    background-color: rgba(253, 224, 58, 0.342);
    position: relative;
    margin-top: 9px;
    bottom: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    .pie {
            margin-left: 30px;
        }
}