*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(247, 246, 246);
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

.logo-and-title {
    display: flex;
    align-items: center;
}

header div h1{
    font-size: 40px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    
}

header nav ul li{
    margin: 5px;
    display: flex;
}

header nav ul li a{
    display: flex;
    text-decoration: none;
    color: rgb(224, 224, 224);
    background-color: rgba(30, 30, 248, 0.849);
    padding: 10px;
    border-radius: 10px;
    
}


header img {
    display: flex;
    width: 100px;
    margin-right: 50px;
}

header h1{
    display: flex;
    color: rgba(30, 30, 248, 0.849);
   
}

.borde{
    border-bottom: 1px solid;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 20px;

}

nav ul li a{
    display: flex;
    text-decoration: none;
    color: rgb(224, 224, 224);
    background-color: rgba(30, 30, 248, 0.849);
    padding: 10px;
    border-radius: 10px;
}

body{
    background-color: rgb(236, 236, 236);
}

h2{
    display: flex;
    justify-content: center;
    font-size: 34px;
    margin: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

main div div p{
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

main div p{
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.contenedor{
    display: flex;
    justify-content: start;
    align-items: center;
}

.imagen{
    width: 400px;
    margin: 40px;
}

.texto-mapa{
    display: flex;
    justify-content: center;
    align-items: center;

}

.mapa{
    margin: 40px;
}

footer{
    background-color: rgb(247, 246, 246);
}