header{
    nav{
        ul{
            li{
                a:hover{
                    background-image: radial-gradient(circle, rgb(3, 0, 207) 25%, rgb(0, 171, 194) 75%);
                }
            }
        }
    }
}

nav{
    ul{
        li{
            a:hover{
                background-image: radial-gradient(circle, rgb(3, 0, 207) 25%, rgb(0, 171, 194) 75%);
            }
        }
    }
}