@media (min-width: 320px) and (max-width: 426px) {
    .grid-container {
        padding: 50px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr;
    }
    
    header nav {
        display: none;
    }

    header {
        nav {
            ul {
                li {
                    a:hover {
                        background-image: none
                    }
                }
            }
        }
    }

    .borde {
        display: none;
    }

    .logo {
        display: none;
    }

    .subtitulo{
        margin: 0px;
        text-align: center;
    }

    .tarjetas{
        width: 75%;
    }

    .contenedor {
        margin: 20px;
        flex-direction: column;
    }

    .imagen-1 {
        width: 250px;
        margin: 10px;
    }

    .imagen-2 {
        width: 250px;
        margin: 10px;
    }

    .mapa {
        width: 290px;
        margin: 10px;
    }

    .titulo {
        font-size: 18px;
        margin: 0px;
    }

    .titulo-footer {
        font-size: 25px;
        padding: 0px;
        margin: 10px;
    }

    div form {
        margin-left: 10px;
        margin-right: 30px;
    }

    h2 {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .ancho{
        margin-left: 10px;
        margin-right: 28px;
    }

    .formulario-2 {
        height: 174px;
    }

    .reverso {
        flex-direction: column-reverse;
    }
}