@media (min-width: 427px) and (max-width: 767px) {
    .grid-container {
        padding: 50px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
    }
    
    header nav {
        display: none;
    }

    header {
        nav {
            ul {
                li {
                    a:hover {
                        background-image: none
                    }
                }
            }
        }
    }

    h2{
        text-align: center;
    }

    .subtitulo {
        margin: 0px;
        text-align: center;
    }

    .borde {
        display: none;
    }

    .tarjetas{
        width: 30%;
    }

    .logo {
        display: none;
    }

    .titulo {
        font-size: 30px;
    }

    .imagen-1 {
        width: 220px;
        margin-right: 0px;
    }

    .imagen-2 {
        width: 300px;
        margin-left: 0px;
    }

    .size{
        font-size: 17px;
    }

    div form {
        margin-left: 70px;
        margin-right: 70px;
    }
}