footer {
    background-color: rgb(247, 246, 246);
    border-top: 2px solid black;
    nav{
        div{
            a{
                h6{
                    color: blue;
                    font-size: 30px;
                    margin-left: 40px;
                }
            }
        }
    }
}