div{
    form{
        margin-left: 200px;
        margin-right: 200px;
        div{
            input{
                margin: 10px;
                width: 100%;
            }
        }
    }
}

.formulario {
    height: 45px;
}

.formulario-2 {
    height: 300px;
}

.boton {
    background-color: rgb(30, 30, 248, 0.849);
    color: rgb(224, 224, 224);
    padding: 10px;
    border: none;
    border-radius: 10px;
}