@mixin display($display, $justify-content, $align-items) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}

header {
    @include display(flex, space-between, center);
    background-color: rgb(247, 246, 246);
    border-bottom: 2px solid black;
    padding: 10px;
    position: sticky;
    top: 0;
    .logo-and-title{
        display: flex;
        align-items: center;
    }
    .hamburguesa{
        width: 30px;
    }
    div{
        h1{
            font-size: 40px;
            display: flex;
            color: rgba(30, 30, 248, 0.849);
        }
        img{
            display: flex;
            width: 100px;
            margin-right: 50px;
        }
    }
    nav{
        ul{
            list-style-type: none;
            display: flex;
            li{
                margin: 5px;
                display: flex;
                a{
                    display: flex;
                    text-decoration: none;
                    @extend .boton
                }
            }
        }
    }
}