@import "../base/reset";

@mixin display($display, $justify-content, $align-items) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}

h2 {
    @include display(flex, center, center);
    font-size: 34px;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

main{
    div{
        div{
            p{
                margin: 40px;
                font-family: $Arial;
                font-size: 20px;
            }
        }
    }
}

main{
    div{
        p{
            margin: 40px;
            font-family: $Arial;
            font-size: 20px;
        }
    }
}

.contenedor{
    @include display(flex, start, center);
    box-shadow: 10px 10px 20px rgb(124, 124, 124);
    background-color: white;
    margin: 60px;
    border-radius: 10px;
    flex-direction: row;
    z-index: -1;
}

.imagen-plantas{
    width: 320px;
    margin: 40px;
    border-radius: 10px;
}

.imagen-1{
    width: 320px;
    margin: 40px;
    border-radius: 10px;
}

.imagen-2{
    width: 400px;
    margin: 40px;
    border-radius: 10px;
}

.texto-mapa{
    @include display(flex, center, center);
}

.mapa{
    margin: 40px;
}