@import "../base/reset";

@mixin display($display, $justify-content, $align-items) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}

.borde {
    border-bottom: 1px solid;
    font-family: $Arial;
    ul{
        @include display(flex, space-around, center);
        list-style-type: none;
        margin: 20px;
        li{
            a{
                display: flex;
                text-decoration: none;
                @extend .boton
            }
        }
    }
}