@import "../base/reset";

.subtitulo {
    font-family: $Arial;
    font-size: 30px;
    margin-left: 60px;
}

.card {
    z-index: -1;
    margin: 50px;
    box-shadow: 10px 10px 20px rgb(124, 124, 124);
}